body {
    background-color : #c2b4b4;
}

form{
    width:1200px;
    padding:16px;
    border-radius:10px;
    margin:auto;
    background-color:white;
}

p {
    width:72px;
    font-weight:bold;
    font-family: verdana,arial,helvética;
    font-size:15px;
    display:inline-block;
}

#relleno{
    height: 100px;
}

.buttons{
    display:flex;
    justify-content: center;
    align-items: center;
}

.cat {
    margin: 0px auto;
    font-size:10px;
}