body {
    background-color : #c2b4b4;
}

#relleno{
    height: 125px;
}

.caratula{
    width: 200px;
    height: 300px;
    margin-bottom: 4px;
    border-radius: 10px;
}

.caratula:hover {
    width: 210px;
    height: 310px;
}
#general{
    position:absolute;
    left:1.5%;
    margin-left:50px;
    margin-right: 50px;
}
#general2{
    left:1.5%;
    position:absolute;
    margin-left:50px;
    margin-right: 50px;
}