body {
    background-color : #c2b4b4;
}

#relleno{
    height: 125px;
}
#top10{
    position:absolute;
    margin-left:50px;
    margin-right: 50px;
}


.caratula{
    width: 200px;
    height: 300px;
    margin-bottom: 4px;
}