.caratula{
    float: right;
    width: 200px;
    height: 300px;
    margin: 4px;
}

#addReviewForm {
    display: none;
}

.modifyReviewForm {
    display: none;
}

.reviewInfo {
    background-color: gainsboro;
}