body {
    background-color : #c2b4b4;
}

#titleC{
    margin-left:5%;
}
#relleno{
    height: 90px;
}

#moty{
    display: flex;
    justify-content: center;
    width:80%;
    margin-left:10%;
    border: 3px solid red;
    border-radius: 5px;
}

#content{
    display:flex;
    flex-direction: column;
    justify-content: left;
    margin-top:2%;
}

#content2 > p{
    margin-left:6%;
}

#image{
    display:flex;
    justify-content:center;
}

.general{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.caratula:hover {
    transform: scale(1.10);
}

@media(max-width: 768px) {
    .caratula {
        width: 30%;
        max-width: 200px;
        max-height: 300px;
        margin-bottom: 4px;
        border-radius: 10px;
        margin:1%;
    }
}

@media(min-width: 768px) {
    .caratula {
        width: 30%;
        height: 300vh;
        max-width: 200px;
        max-height: 300px;
        margin-bottom: 4px;
        border-radius: 10px;
        margin:1%;
    }
}