body {
    background-color : #c2b4b4;
}

#relleno{
    height: 100px;
}

@media (max-width: 768px){
    #navH {
        display: none;
    }

    #reviewM{
        flex-direction:column;
    }

    #image{
        display:flex;
        justify-content:center;
    }
}

@media (min-width: 768px){
    #categoriesMobile{
        display:none !important;
    }
    #navH {
        float: left;
        width:200px;
        height: 100vh;
        background-color: black;
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 5px;
    }

    #navH a {
        display: block;
        padding: 5px 10px;
        color: white;
        text-decoration: none;
    }

    #navH a:hover {
        background-color: #eee;
    }


    .container2{
        margin-left: 250px;
    }

    #image{
        display:inline-flex;
        justify-content: right;
        width:50%;
        margin-right:15%;
        margin-top:10px;
    }
}

#reviewM{
    display:flex;
    border: 3px solid red;
    border-radius: 5px;
    justify-content: space-between;
}

#content{
    display:flex;
    flex-direction: column;
    justify-content: left;
    margin-left:9%;
    margin-top:10px;
    width: 50%;
}
#content > p{
    margin-left: 10%;
    font-family: verdana,arial,helvÃ©tica;

}
#synopsis{
    width: 100%;
}

.caratula{
    max-height: 300px;
    max-width: 200px;
}

#addR{
    border: 3px solid red;
    border-radius: 5px;
    margin:40px;

}
#addR > * {
    margin: 20px;
}
.buttons{
    display:flex;
    justify-content: center;
    align-items: center;
}


#addReviewForm {
    display: none;
}

.modifyReviewForm {
    display: none;
}

.reviewInfo {
    background-color: gainsboro;
}

.puntuation {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.puntuation > input {
    position: absolute;
    top: -100px;
}

.puntuation > label {
    float: right;
    color: #252525;
    margin-right: 5px;
}

.puntuation > label:hover {
    color: gold;
}

.puntuation > input:checked ~ label{
    color: gold;
}

.puntuation > label:hover ~ label {
    color: gold;
}

.puntuation1 > #one {
    color: gold;
}
.puntuation1 > #two {
    color: #252525;
}
.puntuation1 > #three {
    color: #252525;
}
.puntuation1 > #four {
    color: #252525;
}
.puntuation1 > #five {
    color: #252525;
}
.puntuation2 > #one {
    color: gold;
}
.puntuation2 > #two {
    color: gold;
}
.puntuation2 > #three {
    color: #252525;
}
.puntuation2 > #four {
    color: #252525;
}
.puntuation2 > #five {
    color: #252525;
}
.puntuation3 > #one {
    color: gold;
}
.puntuation3 > #two {
    color: gold;
}
.puntuation3 > #three {
    color: gold;
}
.puntuation3 > #four {
    color: #252525;
}
.puntuation3 > #five {
    color: #252525;
}
.puntuation4 > #one {
    color: gold;
}
.puntuation4 > #two {
    color: gold;
}
.puntuation4 > #three {
    color: gold;
}
.puntuation4 > #four {
    color: gold;
}
.puntuation4 > #five {
    color: #252525;
}
.puntuation5 > #one {
    color: gold;
}
.puntuation5 > #two {
    color: gold;
}
.puntuation5 > #three {
    color: gold;
}
.puntuation5 > #four {
    color: gold;
}
.puntuation5 > #five {
    color: gold;
}