body{
    background-color : #c2b4b4;
}

#divsignup {
    display: none
}

.signform{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-40%);
    background-color: #8a5d5d;
    justify-content: center;
    padding: 4% 10%;
    border: #943535 5px solid;
    border-radius: 20px;

}

#btreg{
    position: absolute;
    left:50%;
    transform: translate(-50%,0);
}
#btis{
    position:absolute;
    left:40%;
}

#logoUniflix{
    display:flex;
    justify-content: center;
}
