#delete{
    display:none;
}

#relleno{
    height: 100px;
}

body {
    background-color : #c2b4b4;
}

#info {
    display:flex;
    justify-content: center;
    align-items: center;
}

#info > p {
    font-size:200%;
}

form{
    width:80%;
    margin-left:10%;
    padding:16px;
    border-radius:10px;
    background-color:white;
}


.buttonslist{
    display:flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: block;
    font-weight: bold;
    padding: 8px 20px;
    color:white;
    background-color: grey;
    text-align: center;
    margin-top:1%;
}

#botonB {
    font-weight: bold;
    width:30px;
    height:30px;
    margin-bottom: 2px;
}

#botonI {
    font-style: italic;
    width:30px;
    height:30px;
    margin-bottom: 2px;
}

#botonU {
    text-decoration: underline;
    width:30px;
    height:30px;
    margin-bottom: 2px;
}
