<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
    <link type="text/css" rel="stylesheet" href="/css/info_movie.css">
</head>
<body>
    <div>
        <h1>{{name}}</h1>
        <p>Director: {{movie.director}}</p>
        <p>Puntuación: {{movie.score}}</p>
        <p>Año: {{movie.year}}</p>
        <img class="caratula" src="/Peliculas/{{movie.image}}"/>
    </div>
    {{#reviewList}}
    <div>
        {{comment}}
        <form action="/modifyReview/{{id}}">
            <button type="submit">Modificar</button>
        </form>
    </div>
    {{/reviewList}}
</body>
</html>