<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--BOOSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-
rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-
cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-
kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <title>{{movie.name}}</title>
    <script src="/js/info_Movie.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/info_movie.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top rounded m-3">
        <div class="container">
            <img style="width:10%;" onclick="window.location.href = '/'" src="/images/logo.png"/>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#categoriesMobile" aria-controls="categoriesMobile" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div id="categoriesMobile" class="collapse navbar-collapse">
                <li class="nav-item">
                    <a class="nav-link text-danger m-3" href="/">Inicio</a>
                </li>
                {{#categorys}}
                <li class="nav-item">
                    <a class="nav-link text-danger m-3" href="/cat/{{name}}">{{name}}</a>
                </li>
                {{/categorys}}
            </div>
        </div>
    </nav>
    <div id="relleno"></div>
    <nav id="navH">
        <ul>
            <li>
                <a href="/">Inicio</a>
                {{#categorys}}
                <a href="/cat/{{name}}">{{name}}</a>
                {{/categorys}}
            </li>
        </ul>
    </nav>


    <div class="container2">
        <div id="reviewM">
            <div id="content">
                <h1>{{movie.name}}</h1>
                <p>Año: {{movie.year}}</p>
                <p>Director: {{movie.director}}</p>
                <p>Puntuación: {{movie.score}}</p>
                <p id="synopsis">Sinopsis: {{movie.synopsis}}</p>
            </div>
            <div id="image">
                <img class="caratula" src="/Peliculas/{{movie.image}}"/>
            </div>
        </div>

        <div id="addR">
            <h2>Reseñas:</h2>
            <div class="buttons">
                <button class="btn btn-primary btn-dark" id="addReviewButton" onclick="showAddForm()">Añadir</button>
            </div>

            <div id="addReviewForm">
                <form class="form-group" action="/newReview/{{movie.id}}" method="post">
                    <p>Usuario: </p>
                    <input class="form-control col-md-6" type='text' name='user' required/>
                    <br>
                    <p>Puntuación: </p>
                    <div class="puntuation">
                        <input id="score5" type="radio" name="score" value="5">
                        <label for="score5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                        </label>
                        <input id="score4" type="radio" name="score" value="4">
                        <label for="score4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                        </label>
                        <input id="score3" type="radio" name="score" value="3">
                        <label for="score3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                        </label>
                        <input id="score2" type="radio" name="score" value="2">
                        <label for="score2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                        </label>
                        <input id="score1" type="radio" name="score" value="1">
                        <label for="score1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                        </label>
                        <input id="score0" type="radio" name="score" value="0" checked>
                    </div>
                    <br>
                    <p>Comentario: </p>
                    <textarea class="form-control" name='comment' required></textarea>
                    <br>
                    <div class="buttons">
                        <input class="btn btn-danger" type='submit' value='Añadir Reseña'/>
                    </div>
                </form>
                <div class="buttons">
                    <button class="btn btn-danger" onclick="hideAddForm()">Cancelar</button>
                </div>
            </div>
            {{#reviewList}}
            <div class="reviewInfo">
                <p id="user"><b>{{user}}:</b></p>
                <p id="comments">{{comment}}</p>
                <div class="puntuation{{score}}">
                    <svg id="one" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg id="two" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg id="three" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg id="four" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg id="five" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                </div>
                <div class="buttons">
                    <button class="btn btn-danger" id="modifyReviewButton{{id}}" onclick="showModifyForm('{{id}}')">Modificar</button>
                </div>
                <div id="modifyReviewForm{{id}}" class="modifyReviewForm">
                    <form class="form-group" action="/modifyReview/{{Idmovie.id}}/{{id}}" method="post">
                        <p>Usuario: </p>
                        <input class="form-control" type='text' name='user' required/>
                        <br>
                        <p>Puntuación: </p>
                        <div class="puntuation">
                            <input id="2score5" type="radio" name="score" value="5">
                            <label for="2score5">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                            </label>
                            <input id="2score4" type="radio" name="score" value="4">
                            <label for="2score4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                            </label>
                            <input id="2score3" type="radio" name="score" value="3">
                            <label for="2score3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                            </label>
                            <input id="2score2" type="radio" name="score" value="2">
                            <label for="2score2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                            </label>
                            <input id="2score1" type="radio" name="score" value="1">
                            <label for="2score1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                            </label>
                            <input id="2score0" type="radio" name="score" value="0" checked>
                        </div>
                        <br>
                        <p>Comentario: </p>
                        <textarea class="form-control" name='comment' required></textarea>
                        <br>
                        <div class="buttons">
                            <input class="btn btn-danger" type='submit' value='Modificar Reseña'/>
                        </div>
                    </form>
                    <div class="buttons">
                        <button class="btn btn-danger" onclick="hideModifyForm('{{id}}')">Cancelar</button>
                    </div>
                </div>
                <form action="/deleteReview/{{Idmovie.id}}/{{id}}" method="post">
                    <input id="confirmed{{id}}" class="form-control" type="hidden" name="confirmed"/>
                    <div class="buttons">
                        <button class="btn btn-danger" type="submit" onclick="confirmDelete('{{id}}')">Eliminar</button>
                    </div>
                </form>
            </div>
            {{/reviewList}}
        </div>
    </div>
</body>
</html>