<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modificar</title>
    <script src="/js/updateMoviejs.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/updatemovies.css">
</head>
<body>
    {{#modified}}
        <p>Pelicula modificada con éxito</p>
    {{/modified}}
    <div id="modify">
        <form class="form-group" action="modify_nondelete" method="post">
            <label for="select2"> Pelicula</label>
            <select id="select2" name="movie" required>
              {{#movies}}
              <option>{{name}}</option>
              {{/movies}}
            </select>
            <div id="formUpdate">
                <p>Director: </p>
                <input class="form-control" type='text' name='director' required/>
                <br>
                <p>Año: </p>
                <input class="form-control" type='text' name='year' required/>
                <br>
                <br>
                <input class="btn btn-danger" type='submit' value='Modificar película'/>
            </div>
        </form>
        <button onclick="borrar()">Ir a borrar</button>
    </div>
    <div id="delete">
        <form class="form-group" action="modify_delete" method="post">
            <label for="select2"> Pelicula</label>
            <select name="movie" required>
                {{#movies}}
                <option>{{name}}</option>
                {{/movies}}
            </select>
            <br>
            <input id="confirmed" class="form-control" type="hidden" name="confirmed"/>
            <input class="btn btn-danger" type='submit' onclick="confirmDelete()" value='Borrar película'/>
        </form>
        <button onclick="modify2()">Ir a modificar</button>
    </div>
    <button onclick="window.location.href='/'">Volver</button>

</body>
</html>