<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modificar</title>
    <script src="/js/updateMoviejs.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/updatemovies.css">
</head>
<body>
    {{#modified}}
        <p>Pelicula modificada con éxito</p>
    {{/modified}}
    <div id="modify">
        <form class="form-group" action="modify_nondelete" method="post">
            <label for="select2"> Pelicula</label>
            <select id="select2" name="movie" required>
              {{#movies}}
              <option>{{name}}</option>
              {{/movies}}
            </select>
            <div id="formUpdate">
                <div>
                    <label>Director: </label>
                    <input class="form-control" type='text' name='director' required/>
                </div>
                <div>
                    <label>Año: </label>
                    <input class="form-control" type='number' name='year' required/>
                </div>
                <div>
                    <label>Sinopsis: </label>
                    <textarea class="form-control" name='synopsis' required></textarea>
                </div>
                <fieldset>
                    <legend class="letters">Categorías: </legend>
                    {{#categorys}}
                    <label for="category{{id}}"><input id="category{{id}}" class="form-control" type='checkbox' name="selectedCategorys" value="{{name}}"/>{{name}}</label>
                    <br>
                    {{/categorys}}
                </fieldset>
                <input class="button" type='submit' value='Modificar película'/>
            </div>
        </form>
        <br>
        <div class="buttonslist">
            <button class="button" onclick="borrar()">Ir a borrar</button>
            <button class="button" onclick="window.location.href='/'">Volver</button>
        </div>
    </div>
    <div id="delete">
        <form class="form-group" action="modify_delete" method="post">
            <label for="select2"> Pelicula</label>
            <select name="movie" required>
                {{#movies}}
                <option>{{name}}</option>
                {{/movies}}
            </select>
            <br>
            <input id="confirmed" class="form-control" type="hidden" name="confirmed"/>
            <input class="button" type='submit' onclick="confirmDelete()" value='Borrar película'/>
        </form>
        <br>
        <div class="buttonslist">
            <button class="button" onclick="modify2()">Ir a modificar</button>
            <button class="button" onclick="window.location.href='/'">Volver</button>
        </div>
    </div>
</body>
</html>