<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--BOOSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-
rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-
cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-
kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <title>Modificar</title>
    <script src="/js/updateMoviejs.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/updatemovies.css">
    <script src="/js/createMovie.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top rounded m-3">
        <div class="container">
            <img style="width:10%;" onclick="window.location.href = '/'" src="/images/logo.png"/>
        </div>
    </nav>

    <div id="relleno"></div>
    <div id="info">
        {{#modified}}
            <p>Pelicula modificada con éxito</p>
        {{/modified}}
    </div>
    <div id="modify" class="container">
        <form id="formMovie" class="form-group" action="modify_nondelete" method="post">
            <label for="select2"> Pelicula</label>
            <select id="select2" name="movie" required>
              {{#movies}}
              <option>{{name}}</option>
              {{/movies}}
            </select>
            <div id="formUpdate">
                <div>
                    <label>Director: </label>
                    <input class="form-control" type='text' name='director' required/>
                </div>
                <div>
                    <label>Año: </label>
                    <input class="form-control" type='number' name='year' required/>
                </div>
                <div>
                    <label>Sinopsis: </label>
                    <div>
                        <input type="button" onclick="bold()">
                    </div>
                    <div>
                        <input type="button" onclick="italic()">
                    </div>
                    <div>
                        <input type="button" onclick="underline()">
                    </div>
                    <textarea id="synopsis-textarea" class="form-control" name='synopsis' required></textarea>
                </div>
                <fieldset>
                    <legend class="letters">Categorías: </legend>
                    {{#categorys}}
                    <label for="category{{id}}"><input id="category{{id}}" class="form-check-input" type='checkbox' name="selectedCategorys" value="{{name}}"/>{{name}}</label>
                    <br>
                    {{/categorys}}
                </fieldset>
                <div class="buttonslist">
                    <input class="button" type='submit' value='Modificar película'/>
                </div>
            </div>
        </form>
        <br>
        <div class="buttonslist">
            <button class="button" onclick="borrar()">Ir a borrar</button>
            <button class="button" onclick="window.location.href='/'">Volver</button>
        </div>
    </div>
    <div id="delete" class="container">
        <form class="form-group" action="modify_delete" method="post">
            <label for="select2"> Pelicula</label>
            <select name="movie" required>
                {{#movies}}
                <option>{{name}}</option>
                {{/movies}}
            </select>
            <br>
            <input id="confirmed" class="form-control" type="hidden" name="confirmed"/>
            <div class="buttonslist">
                <input class="button" type='submit' onclick="confirmDelete()" value='Borrar película'/>
            </div>
        </form>
        <br>
        <div class="buttonslist">
            <button class="button" onclick="modify2()">Ir a modificar</button>
            <button class="button" onclick="window.location.href='/'">Volver</button>
        </div>
    </div>
</body>
</html>